.jumbotron {
  background-color: #C1C2BC;
  margin-bottom: 0px;
}

body {
  background-color: #1E6A6A;
}

.footer {
  width: 100%;
  clear: both;
  height: 75px;
  background-color: #C1C2BC;
}

.body-col {
  padding: 15px;
  padding-bottom: 75px;
  background-color: white;
}

.edit-question {
  max-width: 100%;
}

a {
  color: #1E6A6A;
}

a:hover {
  color: #5295A6;
  text-decoration: none;
}
