<div class="jumbotron">
  <div class="container">
    {{#link-to 'index'}}<h1>Forum</h1>{{/link-to}}
  </div>
</div>

{{outlet}}

<div class="footer">
  {{#link-to 'contact'}}<h4>Contact Us</h4>{{/link-to}}
</div>
