<div class="jumbotron">
  <div class="container">
    {{#link-to 'index'}}<h1>Forum</h1>{{/link-to}}
    {{#link-to 'login'}}Login{{/link-to}}
  </div>
</div>
<div class="col-md-8 col-md-offset-2">

  {{outlet}}
</div>

<div class="footer">
  {{#link-to 'contact'}}<h4>Contact Us</h4>{{/link-to}}
</div>
